Repository awslabs/aws-mobile-appsync-sdk-ios, pull requests merged in 2018-11, with the labels that each got.

#88 Resolved retain cycles in AWSAppSyncClient
  AWSAppSyncClient/AWSAppSyncClient.swift
  AWSAppSyncClient/AWSOfflineMutationStore.swift
  AWSAppSyncTests/AWSAppSyncTests.swift
Labels: AppSync, pull request

#93 Bug fixes for avoiding retain cycles and memory leaks.
  AWSAppSyncClient.xcodeproj/project.pbxproj
  AWSAppSyncClient.xcodeproj/xcuserdata/rohandub.xcuserdatad/xcschemes/xcschememanagement.plist
  AWSAppSyncClient/AWSAppSyncClient.swift
  AWSAppSyncClient/AWSAppSyncSubscriptionWatcher.swift
  AWSAppSyncClient/AppSyncMQTTClient.swift
  AWSAppSyncClient/MQTTSDK/AWSIoTMQTTClient.h
  AWSAppSyncClient/MQTTSDK/AWSIoTMQTTClient.m
  AWSAppSyncTests/AppSyncMQTTClientTests.swift
  CHANGELOG.md
Labels: AppSync, bug

#84 Bump ReachabilitySwift to 4.3.0
  AWSAppSync.podspec
  Podfile
Labels: AppSync, pull request

#35 Replaced generic struct based AWSAppSyncClientError by a typed enum…
  AWSAppSyncClient/AWSAppSyncClient.swift
  AWSAppSyncClient/AWSAppSyncHTTPNetworkTransport.swift
  AWSAppSyncClient/AWSAppSyncRetryHandler.swift
  AWSAppSyncTests/AuthProviderTests.swift
Labels: AppSync, pull request

#99 Update ReachabilitySwift to 4.3.0 in Cartfile
  Cartfile
Labels: AppSync, pull request

#113 Doc updates
  README.md
  docs/Gemfile.lock
  docs/_config.yml
  docs/index.md
Labels: documentation, pull request
