Repository awslabs/aws-mobile-appsync-sdk-ios, pull requests merged in 2019-04, with the labels that each got.

#229 delete an offline mutation from cache when it's canceled
  AWSAppSyncClient/Internal/AWSPerformMutationOperation.swift
  AWSAppSyncUnitTests/MutationQueueTests.swift
  CHANGELOG.md
Labels: AppSync, Pull Request

#237 Increase test timeout to 180s to account for TravisCI instability. Te…
  AWSAppSyncIntegrationTests/AWSAppSyncAPIKeyAuthTests.swift
  AWSAppSyncIntegrationTests/AWSAppSyncCognitoAuthTests.swift
  AWSAppSyncIntegrationTests/SubscriptionTests.swift
  AWSAppSyncTestApp/ViewController.swift
Labels: AppSync, Pull Request, Tests

#239 Revert SQLite.swift upgrade until we either fork the code or the main…
  AWSAppSync.podspec
  Podfile
  Podfile.lock
  Pods/Local Podspecs/SQLite.swift.podspec.json
  Pods/Manifest.lock
  Pods/SQLite.swift/Sources/SQLite/Helpers.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/AggregateFunctions.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/Coding.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/CoreFunctions.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/Operators.swift
  Pods/SQLite.swift/Sources/SQLiteObjc/include/SQLite-Bridging.h
  Pods/Target Support Files/SQLite.swift/SQLite.swift.xcconfig
Labels: AppSync, Pull Request

#236 Update integration test cloudformation
  AWSAppSyncIntegrationTests/ConsoleResources/appsync-integrationtests-cloudformation.yaml
Labels: AppSync, Pull Request

#240 Fix integration test helper region mismatch for identity pool
  AWSAppSyncTestCommon/AppSyncClientTestHelper.swift
Labels: AppSync, Pull Request, Reviewing

#241 Update SQLite.swift to 0.11.6, AWS SDK to 2.9.6
  .travis.yml
  AWSAppSync.podspec
  CHANGELOG.md
  Cartfile
  Podfile
  Podfile.lock
  Pods/AWSAuthCore/README.md
  Pods/AWSCognitoIdentityProvider/AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderModel.h
  Pods/AWSCognitoIdentityProvider/AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderModel.m
  Pods/AWSCognitoIdentityProvider/AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderResources.m
  Pods/AWSCognitoIdentityProvider/AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderService.h
  Pods/AWSCognitoIdentityProvider/AWSCognitoIdentityProvider/CognitoIdentityProvider/AWSCognitoIdentityProviderService.m
  Pods/AWSCognitoIdentityProvider/README.md
  Pods/AWSCore/AWSCore/Service/AWSService.m
  Pods/AWSCore/README.md
  Pods/AWSMobileClient/AWSCognitoAuth/AWSCognitoAuth.m
  Pods/AWSMobileClient/README.md
  Pods/AWSS3/AWSS3/AWSS3PreSignedURL.m
  Pods/AWSS3/AWSS3/AWSS3Service.m
  Pods/AWSS3/AWSS3/AWSS3TransferUtility.m
  Pods/AWSS3/README.md
  Pods/Manifest.lock
  Pods/SQLite.swift/README.md
  Pods/SQLite.swift/Sources/SQLite/Foundation.swift
  Pods/SQLite.swift/Sources/SQLite/Helpers.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/AggregateFunctions.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/Coding.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/CoreFunctions.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/CustomFunctions.swift
  Pods/SQLite.swift/Sources/SQLite/Typed/Operators.swift
  Pods/SQLite.swift/Sources/SQLiteObjc/include/SQLite-Bridging.h
  Pods/Target Support Files/AWSAuthCore/AWSAuthCore-Info.plist
  Pods/Target Support Files/AWSCognitoIdentityProvider/AWSCognitoIdentityProvider-Info.plist
  Pods/Target Support Files/AWSCore/AWSCore-Info.plist
  Pods/Target Support Files/AWSMobileClient/AWSMobileClient-Info.plist
  Pods/Target Support Files/AWSS3/AWSS3-Info.plist
  Pods/Target Support Files/SQLite.swift/SQLite.swift-Info.plist
  Pods/Target Support Files/SQLite.swift/SQLite.swift.xcconfig
  README.md
Labels: AppSync, Build, Pull Request

#245 Make network reachability provider mockable
  AWSAppSyncClient.xcodeproj/project.pbxproj
  AWSAppSyncClient/AWSAppSyncClient.swift
  AWSAppSyncClient/Internal/NetworkReachabilityNotifier.swift
  AWSAppSyncClient/NetworkReachability.swift
Labels: AppSync, Pull Request
