Repository awslabs/aws-mobile-appsync-sdk-ios, pull requests merged in 2019-05, with the labels that each got.

#248 Improvements for subscription cancelleation and disconnects.
  AWSAppSyncClient.xcodeproj/project.pbxproj
  AWSAppSyncClient/AWSAppSyncSubscriptionWatcher.swift
  AWSAppSyncClient/Internal/AppSyncMQTTClient.swift
  AWSAppSyncClient/MQTTSDK/AWSIoTMQTTClient.m
  AWSAppSyncIntegrationTests/AppSyncMQTTClientTests.swift
  CHANGELOG.md
Labels: AppSync, Pull Request, Reviewing

#251 Fix a bug which blocks subscription from starting after being cancelled.
  AWSAppSyncClient.xcodeproj/project.pbxproj
  AWSAppSyncClient/AWSAppSyncSubscriptionWatcher.swift
  AWSAppSyncIntegrationTests/SubscriptionTests.swift
  AWSAppSyncUnitTests/SubscriptionCancelAndRestartTests.swift
  CHANGELOG.md
Labels: AppSync, Pull Request

#252 Skipping integ tests by default b/c of TravisCI instability
  AWSAppSyncClient.xcodeproj/xcshareddata/xcschemes/AWSAppSync.xcscheme
  AWSAppSyncClient/Internal/AppSyncMQTTClient.swift
Labels: AppSync, Build, Pull Request

#256 Update CHANGELOG.md
  CHANGELOG.md
Labels: AppSync, Pull Request

#257 Fix Swift lint errors.
  AWSAppSyncClient/AWSAppSyncCache.swift
  AWSAppSyncClient/AWSAppSyncClient.swift
Labels: AppSync, Pull Request

#261 Update subscriptions order helper logic.
  AWSAppSyncClient.xcodeproj/project.pbxproj
  AWSAppSyncClient/AWSAppSyncSubscriptionWatcher.swift
  AWSAppSyncUnitTests/SubscriptionMiscTests.swift
Labels: AppSync, Pull Request
